@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Por gentileza, faça o login ou registre para usar o sistema</h1>
    <h2>Quando fizer, clique em "Produtos" na parte superior esquerda</h2>
</div>
