@page
@model LoginAppAuth.Pages.Logged.Products.CreateModel
@{
}

<div class="row">
    <div>
        <h2 class="text-center mb-5">Novo Produto</h2>
        @if (Model.errorMessage.Length > 0)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.errorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (Model.successMessage.Length > 0)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@Model.successMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <form method="post" style="max-width:500px" class="m-auto d-flex flex-column justify-content-center align-items-center" enctype="multipart/form-data">
            <div class="d-flex flex-column">
                <label>Título:</label>
                <input asp-for="NewProduct.Title" placeholder="Título do produto" />
                <span asp-validation-for="NewProduct.Title" class="text-danger"></span>
                <label>Nome:</label>
                <input asp-for="NewProduct.Name" placeholder="Nome do produto" />
                <span asp-validation-for="NewProduct.Name" class="text-danger"></span>
                <label>Descrição:</label>
                <textarea asp-for="NewProduct.Description" placeholder="Descrição do produto"></textarea>
                <span asp-validation-for="NewProduct.Description" class="text-danger"></span>
                <label>Preço:</label>
                <input asp-for="NewProduct.Price" placeholder="Preço do produto" />
                <span asp-validation-for="NewProduct.Price" class="text-danger"></span>
                <button class="mt-2 btn btn-primary btn-sm">Criar produto</button>
            </div>
           

        </form>
    </div>
</div>